@using Nop.Plugin.Widgets.Auctions.Services

<div class="buttons">
    <input type="button" class="place-offer-button button-1 product-box-add-to-cart-button" value="@T(Locales.PlaceOffer).Text" 
          onclick="() => { $('#widget-auctions-placeOffer-modal').dialog('open'); return false; }" />
</div>